<launch>
  <node name="poe_cam1" pkg="usb_cam" type="poe_cam_node" output="screen" >
    <param name="video_url" value="rtsp://192.168.1.168:554/stream" />
    <param name="pixel_format" value="rgb24" />
    <param name="camera_frame_id" value="poe_cam1" />
  </node>
  <node name="poe_cam2" pkg="usb_cam" type="poe_cam_node" output="screen" >
    <param name="video_url" value="rtsp://192.168.1.169:554/stream" />
    <param name="pixel_format" value="rgb24" />
    <param name="camera_frame_id" value="poe_cam2" />
  </node>
  <node name="poe_cam3" pkg="usb_cam" type="poe_cam_node" output="screen" >
    <param name="video_url" value="rtsp://192.168.1.170:554/stream" />
    <param name="pixel_format" value="rgb24" />
    <param name="camera_frame_id" value="poe_cam3" />
  </node>

  <!-- The image_view nodes are for debugging only-->
  <!--
  <node name="image_view1" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/poe_cam1/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
  <!--
  <node name="image_view2" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/poe_cam2/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
  <!--
  <node name="image_view3" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/poe_cam3/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
</launch>
